div .circle.spin {
  width: 80px;
  height: 80px;
  border: 4px solid darkgreen;
  border-radius: 50%;
  margin: auto;
  animation-name: flip-y;
  animation-duration: 2s;
}

@keyframes flip-y {
  from{transform: rotateX(0deg);}
    to{transform: rotateX(180deg);}

}
