.x {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    animation-name: flip-x;
    animation-duration: 2s;
}
.x:after {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
    /* animation-name: flip-x;
    animation-duration: 2s; */
}

.x:before {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
    /* animation-name: flip-x;
    animation-duration: 2s; */
}


@keyframes flip-x {
  from{transform: rotateY(0deg);}
    to{transform: rotateY(180deg);}

}
