body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background: rgba( 247, 249, 249, 1);
}

h1{
  margin: auto;
  text-align: center;
}

#board {
  min-width: 15em;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #51a7fa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  color: white;
}


.interior-space{
  width: 100%;
  height: 5em;
  margin:;
}
